body {
 background-color: coral;
}

.main{
  text-align: center;
  padding-top: 200px;
}

h1 {
  font-size: 100px;
}

.bpm-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bpm-controls button {
  background-color: inherit;
  border: none;
}

button:focus {
    outline: 0px solid #fff;
    outline-offset: -4px;
}

#bpm-control {
  font-size: 60px;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 250%
}

.footer {
  padding-top: 80px;
  position: absolute;
  bottom: 150px;
}

ul {
  list-style: none;
}

ul li {
  padding-top: 15px;
  font-family: helvetica;
  font-weight: 900;
}
